.center{
  margin-left: 42%;
  margin-top: 1%;
}

.input-post{
  margin-left: 30%;
  width: 40%;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  margin: 5%;
}

.user-text{
  font-size: 10px;
  margin-left: 3px;
}
