.example-card {
  width: 700px;
  height: 500px;
  margin-bottom: 8px;
  background-color: rgba(4, 4, 242, 0.645);
}

.center{
  margin-left: 28%;
  margin-top: 5%;
}

.myrow{
  margin-top: 6px;
  margin-left: 30%;
}
